<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.socar.web.mappers.CustomerMapper">

<!-- role : 공지사항 notice, 자주묻는 질문 faq, 1대1문의 customer -->

	<select id="count" resultType="com.socar.web.domains.Retval">
		select count(*) as count from notice
	</select>
	<select id="list" resultType="com.socar.web.domains.CustomerDTO" parameterType="com.socar.web.domains.Command">
      select t2.*
	  from (select @ROWNUM := @ROWNUM + 1 AS seq
	  			  ,mc.num
	              ,mc.title
	              ,mc.content
	              ,DATE_FORMAT(mc.regDate, '%Y-%m-%d') regDate
	              ,mc.customerSeq
     		  from   notice mc
     		        ,(SELECT @ROWNUM := 0) R
     		  ORDER BY mc.num DESC
	       ) t2
	  where t2.seq between #{start} and #{end}
	  order by t2.seq asc
   </select>
	<select id="customerList" resultType="com.socar.web.domains.CustomerDTO" parameterType="com.socar.web.domains.Command">
      select t2.*
	  from (select @ROWNUM := @ROWNUM + 1 AS seq
	              ,mc.customer_seq customerSeq
	              ,mc.title
	              ,mc.content
	              ,mc.category
	              ,mc.file_name
	              ,mc.role
	              ,mc.id
	              ,DATE_FORMAT(mc.reg_date, '%Y-%m-%d') regDate
     		  from   customer mc
     		        ,(SELECT @ROWNUM := 0) R
     		  ORDER BY mc.reg_date DESC
	       ) t2
	  where t2.seq between #{start} and #{end} and role = 'CUSTOMER'
	  order by t2.seq asc
   </select>
	<select id="faqList" resultType="com.socar.web.domains.CustomerDTO" parameterType="com.socar.web.domains.Command">
		select 
			title title,
			content content,
			category category,
			customer_seq customerSeq
		from customer where ${keyField} = #{keyword}
	</select>
	 <select id="find_count" resultType="com.socar.web.domains.Retval" parameterType="com.socar.web.domains.Command">
   		select count(*) as count 
   	from   (select  n.title
   	               ,n.content
   	               ,DATE_FORMAT(n.regDate, '%Y-%m-%d') regDate
   	               ,n.customerSeq
   	 	    from    notice n
   	 	    WHERE   ${keyField} like CONCAT('%',#{keyword},'%')
   	       ) t
   </select>
   <select id="faqCount" resultType="com.socar.web.domains.Retval" parameterType="com.socar.web.domains.Command">
   		select count(*) as count from customer where ${keyField} = #{keyword}
   </select>
   <select id="customerCount" resultType="com.socar.web.domains.Retval" parameterType="com.socar.web.domains.Command">
   		select count(*) as count from customer where role = 'CUSTOMER'
   </select>
	<select id="find" resultType="com.socar.web.domains.CustomerDTO" parameterType="com.socar.web.domains.Command">
      select t2.*
	  from (select @ROWNUM := @ROWNUM + 1 AS seq
	              ,n.title
	              ,n.content
	              ,DATE_FORMAT(regDate, '%Y-%m-%d') regDate
	              ,n.customerSeq  
	        from   notice n
	              ,(SELECT @ROWNUM := 0) R
	        WHERE  ${keyField} like CONCAT('%',#{keyword},'%')
	       ) t2
	   where t2.seq between #{start} and #{end}   
	   order by t2.seq asc	  
   </select>
   <select id="goArticle" resultType="com.socar.web.domains.CustomerDTO" parameterType="com.socar.web.domains.Command">
		select 
			customer_seq customerSeq,
			title title,
			content content,
			file_name fileName,
			reg_date regDate
		from customer where ${keyField} = #{keyword}
   </select>
   <select id="inquiry_form" resultType="com.socar.web.domains.Retval" parameterType="com.socar.web.domains.CustomerDTO">
        insert into customer(id,title,content,category,file_name,reg_date,role)
        values(#{id},#{title},#{content},#{category},#{fileName},#{regDate},'CUSTOMER')
   </select>
      <select id="customer_find_by_seq" resultType="com.socar.web.domains.CustomerDTO" parameterType="com.socar.web.domains.Command">
      select t2.*
      from (select mc.title
	              ,mc.category
	              ,mc.content
	              ,DATE_FORMAT(mc.reg_date, '%Y-%m-%d') regDate
	              ,mc.customer_seq
	              ,mc.id
	              ,mc.answer
	       from    customer mc 
	       where   ${keyField} = #{keyword}
	      ) t2 
   </select>
      <update id="update" statementType="CALLABLE" parameterType="com.socar.web.domains.CustomerDTO">
      { call update_customer(
         #{answer, mode=IN,jdbcType=CLOB},
         #{customerSeq, mode=IN,jdbcType=BIGINT}
      )}
   </update>
</mapper>