<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.socar.web.mappers.MyCouponMapper">
	<select id="count" resultType="com.socar.web.domains.Retval">
		select count(*) as count from coupon_member
	</select>
   	<select id="findCount" resultType="com.socar.web.domains.Retval" parameterType="com.socar.web.domains.Command">
   	  select count(*) as count from coupon_member where ${keyField} = #{keyword}
   	</select>
	<select id="list" resultType="com.socar.web.domains.CouponMemberMasterDTO" parameterType="com.socar.web.domains.Command">
     select
		u.coupon_member_seq couponMemberSeq,
		u.coupon_master_seq couponMasterSeq,
		u.use_flag useFlag,
		u.id id,
		m.coupon_name couponName,
		m.dc_option dcOption,
		m.dc dc,
		m.option_header optionHeader,
		m.option_detail optionDetail,
		m.open_date_start openDateStart,
		m.open_date_end openDateEnd
	from coupon_member u, coupon_master m
	where u.coupon_master_seq = m.coupon_master_seq and id = #{keyword};		
	</select>
	<select id="find" resultType="com.socar.web.domains.MyCouponDTO" parameterType="com.socar.web.domains.Command">
	     select *
	      from(
	      select @NO := @NO + 1 as ROWNUM, A.*
	      from
	      (
	      select
		 	cm.coupon_member_seq couponMemberSeq,
		 	cm.use_flag useFlag,
		 	cm.coupon_master_seq couponMasterSeq,
		 	cm.id id 
	      from coupon_member cm where ${keyField} = #{keyword} order by coupon_member_seq desc
	      )A,
	      (select @NO := 0)B
	      )C
	      where C.ROWNUM BETWEEN ${start} and ${end};
	</select>
	<select id="notUsedList" resultType="com.socar.web.domains.CouponMemberMasterDTO" parameterType="com.socar.web.domains.Command">
     select
		u.coupon_member_seq couponMemberSeq,
		u.coupon_master_seq couponMasterSeq,
		u.use_flag useFlag,
		u.id id,
		m.coupon_name couponName,
		m.dc_option dcOption,
		m.dc dc
	from coupon_member u, coupon_master m
	where u.coupon_master_seq = m.coupon_master_seq and use_flag = 'N' and id = #{keyword};
	</select>
	<select id="useFlag" resultType="com.socar.web.domains.Retval" parameterType="com.socar.web.domains.Command">
		update coupon_member set use_flag = 'Y' where coupon_member_seq = ${keyword} 
	</select>
		<select id="existId" parameterType="com.socar.web.domains.MyCouponDTO" resultType="int">
		select count(*) from coupon_member where id = #{id} and coupon_master_seq = #{couponMasterSeq}
	</select>
	<insert id="regist" parameterType="com.socar.web.domains.MyCouponDTO">
		insert into coupon_member(coupon_master_seq,use_flag,id) values( #{couponMasterSeq},'N',#{id})
	</insert>	
</mapper>