<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.socar.web.mappers.PaymentMapper">
	<select id="count" resultType="com.socar.web.domains.Retval">
		select count(*) as count from payment
	</select>
		<select id="find_count" resultType="com.socar.web.domains.Retval">
		select count(*) as count from payment where ${keyField} = #{keyword}
	</select>
	<select id="list" resultType="com.socar.web.domains.PaymentDTO" parameterType="com.socar.web.domains.Command">
	  select t2.*
	  from (select @ROWNUM := @ROWNUM + 1 AS seq
	              ,p.rent_seq rentSeq
	              ,p.payment_seq paymentSeq
	              ,p.payment_date paymentDate
	              ,p.payment_amt paymentAmt
	              ,p.card_num cardNum
	              ,p.id id
  		    from   payment p
		          ,(SELECT @ROWNUM := 0) R
		    ORDER BY p.payment_seq desc
	       ) t2
	  where t2.seq between #{start} and #{end} and ${keyField} = #{keyword}
	  order by t2.seq asc
	</select>
	<select id="find" resultType="com.socar.web.domains.PaymentDTO" parameterType="com.socar.web.domains.Command">
	  select t2.*
	  from (select @ROWNUM := @ROWNUM + 1 AS seq
	              ,p.rent_seq rentSeq
	              ,p.payment_seq paymentSeq
	              ,p.payment_date paymentDate
	              ,p.payment_amt paymentAmt
	              ,p.card_num cardNum
	              ,p.id id
  		    from   payment p
		          ,(SELECT @ROWNUM := 0) R
		    ORDER BY p.payment_seq desc
	       ) t2
	  where t2.seq between #{start} and #{end} and ${keyField} = #{keyword}
	  order by t2.seq asc
	</select>
   <insert id="payment" parameterType="com.socar.web.domains.PaymentDTO">
   		insert into payment(payment_date, payment_amt, rent_seq, card_num,id)
   		values(#{paymentDate}, #{paymentAmt}, #{rentSeq}, #{cardNum},#{id})
   </insert>
</mapper>

